h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #444;
    text-decoration: underline;
    line-height: 20px;
}

.showingData{
    display: none;
}

.pelicula-title{
    cursor:pointer;
}

.pelicula-title:hover{
    text-decoration: underline;
}
.clicked{
    color: blue;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}